@import './src/styles/mixins';
@import './src/styles/variables';

.blockTwo{
  padding: 40px 0;
  .blockWrapper{
    @include autoCentrWidthBlock();
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: $backgroundGradient;
    box-shadow: $boxShadow;
    border-radius: 15px;
    padding: 20px;
    .title{
      @include sectionTitle();
    }

    .skillsAndWorks{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      margin: 20px 0;
    }
  }
}