@import './src/styles/mixins';
@import './src/styles/variables';
.header{
  height: 120px;
  box-shadow: $boxShadow;
  .headerWrapper{
    @include autoCentrWidthBlock();
    @include flexItemCentr();
    height: 100%;
    padding: 0 10px;
    .writeMe{
      a{
        @include flexItemCentr();
        gap: 10px;
        img{
          width: 100px;
          height: 100px;
        }
      }
    }
    .nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 0 10px;

      ul {
        display: flex;
        justify-content: space-between;
        min-width: 500px;


        li a{
          font-size: 20px;
          letter-spacing: 1.6px;
          opacity: 0.9;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .header {
    .headerWrapper{
      .nav{
        ul{
          min-width: 400px;
        }
      }
      .writeMe{
        a{
          h2{
            display: none;
          }
        }
      }
    }


  }

}

@media (max-width: 550px) {
  .header {
    .headerWrapper {
      .nav {
         ul {
           min-width: auto;
           width: 100%;
         }
      }

      .writeMe{
        a{
          display: none;
        }
      }
    }
  }
}