@import './src/styles/mixins';
@import './src/styles/variables';
.header{
  height: 120px;
  box-shadow: $boxShadow;
  .headerWrapper{
    @include autoCentrWidthBlock();
    @include flexItemCentr();
    height: 100%;
    padding: 0 10px;
    .writeMe{
      a{
        @include flexItemCentr();
        gap: 10px;
        img{
          width: 100px;
          height: 100px;
        }
      }
    }
    .nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 0 10px;

      ul {
        display: flex;
        justify-content: space-between;
        min-width: 500px;


        li a{
          font-size: 20px;
          letter-spacing: 1.6px;
          opacity: 0.9;
        }
      }
    }
  }
}