@import './src/styles/variables';

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  .footerWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    background: $backgroundGradient;
    box-shadow: $boxShadow;
    border-radius: 15px;
    padding: 20px 10px;

    h3 {
      font-size: 32px;
    }

    .someBlockWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 450px;

      .someBlock {
        a {
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .allRight {
      display: flex;

    }
  }
}