@import './src/styles/variables';
.footer{
  display: flex;
  justify-content: center;
  padding: 40px 0;

  .footerWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    background: $backgroundGradient;
    box-shadow: $boxShadow;
    border-radius: 15px;
    padding: 20px 10px;



    .someBlockWrapper{
      display: flex;
      justify-content: space-between;
      box-shadow: $boxShadow;
      width: 100%;
      max-width: 450px;
      .someBlock{
        width: 60px;
        height: 60px;
        background-color: #9b9b9b;
      }
    }

    .allRight{
      display: flex;

    }
  }
}