@import './src/styles/mixins';
@import './src/styles/variables';

.blockOne {
  padding: 50px 0;

  .blockWrapper {
    @include autoCentrWidthBlock();
    @include flexItemCentr();
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    .aboutMe {
      display: flex;
      flex-direction: column;
      width: 50%;
      background: $backgroundGradient;
      box-shadow: $boxShadow;
      border-radius: 15px;
      padding: 20px;

      .welcome {
        font-size: 24px;
        padding: 20px 0;
      }

      .title {
        font-size: 42px;
        font-weight: 500;

        span {
          color: #1f88de;
          font-size: 42px;
          padding-left: 15px;
          font-weight: 700;
          letter-spacing: 2px;
          opacity: 1;
        }
      }

      span {
        font-size: 42px;
        letter-spacing: 1px;
        opacity: 0.7;
      }

      .descriptions {
        span {
          display: block;
          padding: 5px;
          font-size: 20px;
        }
      }
    }

    .avatar {
      display: flex;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      overflow: hidden;

      img {
        height: 420px;
      }
    }
  }


}

@media (max-width: 1180px) {
  .blockOne {
    .blockWrapper {
      flex-direction: column-reverse;

      .aboutMe {
        width: 100%;
      }

      .avatar {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        //width: 100%;
        //max-width: 100%;
      }
    }
  }

}

@media (max-width: 620px) {
  .blockOne {
    .blockWrapper {
      .aboutMe {
        .welcome {
          font-size: 20px;
        }

        .title {
          font-size: 26px;

          span {
            font-size: 26px;
            letter-spacing: 1.2px;
          }
        }

        span {
          font-size: 26px;
          letter-spacing: 1px;
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 401px) {
  .blockOne {
    .blockWrapper {


      .aboutMe {
        padding: 10px;


        .title {
          font-size: 20px;

          span {
            font-size: 22px;
            letter-spacing: 1px;
          }
        }

        span {
          font-size: 20px;
          letter-spacing: 1px;
        }
      }

      .avatar {
        img {
          width: 350px;
        }
      }
    }
  }
}